<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/baseClick.css">
  <title>Click Your Friends</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <header class="col-md-12" >
        <h3 class="text-center">Click Your friends</h3>
        <h4 class="text-center">How many can you click in 20 seconds?</h4>
      </header>
    </div>
    <div class="row"><!--beginning of first row-->
      <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <img src="/buller.jpg" class="img-thumbnail" alt="missing image" 
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/alyson.jpg" class="img-thumbnail" alt="missing image" 
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/carolyn.jpg" class="img-thumbnail" alt="missing image" 
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/christian.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/christopher.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-1"></div>
      </div> 
    </div>
    <div class="row"><!--beginning of second row-->
      <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <img src="/conaty.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/Darryl.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/david.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/dong.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/ivan.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-1"></div>
      </div> 
    </div>
    <div class="row"><!--beginning of third row-->
      <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <img src="/jamesion.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/jeramey.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/jill.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/paul.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/richard.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-1"></div>
      </div> 
    </div>
    <div class="row"><!--beginning of fourth row-->
      <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <img src="/rolondo.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/sheryans.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/valdrin.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/tammer.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-2">
          <img src="/victor.jpg" class="img-thumbnail" alt="missing image"
            data-state="notclicked">
        </div>
        <div class="col-md-1"></div>
      </div> 
    </div>  
    <div class="col-md-12">
      <br>
    </div>
    <div class="row">
          <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1">
              <button type="button" class="btn btn-primary  btn-block" id="startStopBtn" 
              data-state="start">Start</button> 
            </div> 
          </div>
    </div>
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <br>
      <br>
      <br>
      <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/formContactMe">Contact Me</a></li>
      </nav>
    </div>
  </div>
  <script type="text/javascript" src="/countImages.js"></script>
  <script type="text/javascript" src="/timer.js"></script>
</body>
</html>